@import url("./_registration/error_registration.css");
@import url("./__name/error__name.css");
.error
{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    position: relative;
    top: -20px;

    color: #FF0000;
}
.error:last-of-type
{
  top: 0px;
}