.card__date{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  margin: 20px 24px 0px 24px;

  color: #B6BCBF;
}